<footer class="footer ">
  <div class="container">
    <hr class= "clearfix">
<!--foote_bottom_ul_amrc ends here-->

 <div class="row">
    <div class="col-6 col-md-4">
      <p class="text-left">2019 &copy; | Dmoreno06 <a href="#">page</a></p>
    </div>
    <div class="col-6 col-md-8">
       <div class="text-right">
      <a href="https://www.facebook.com/barbutosgentlemens"><i class="fa fa-facebook"></i></a>
      <a href="http://webenlance.com"><i class="fa fa-twitter"></i></a>
      <a href="http://webenlance.com"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.instagram.com/barbutos_gentlemens"><i class="fa fa-instagram"></i></a>
  </div>
    </div>
  </div>
 
<!--social_footer_ul ends here-->
  </div>
</footer>